
.menu {
    display: flex;
    flex-wrap: wrap;
    min-width: 750px;
    max-width: 750px;
    font-size: 1rem;
    border: 10px solid var( --menu-puzzle-border);
    padding: 10px;

    .block {
        min-width: 19px;
        max-width: 19px;
        min-height: 19px;
        max-height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--menu-puzzle-block-background);
        padding: 2px;
    }

    .menu-text {
        background-color: var(--menu-puzzle-block-text-background);
        color: var(--menu-puzzle-block-text);
    
        &:hover {
            transition: color 0s;
            background-color: var(--menu-puzzle-block-background-hover);
            color: var(--menu-puzzle-block-text-hover);
        }
    
        a {
            text-decoration: none;
            text-align: center;
            width: 100%;
            &:hover {
                transition: color 0s;
                color: var(--menu-puzzle-block-text-hover);
            }
        }
        
    }

}

@media only screen and (max-width: 800px) {
    .menu {
        min-width: 540px;
        max-width: 540px;
        font-size: 0.7rem;

        .block {
            min-width: 14px;
            max-width: 14px;
            min-height: 14px;
            max-height: 14px;
            border: 1px solid var(--menu-puzzle-block-background);
            padding: 1px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        min-width: 300px;
        max-width: 300px;
        font-size: 0.5rem;

        .block {
            min-width: 8px;
            max-width: 8px;
            min-height: 8px;
            max-height: 8px;
            border: 1px solid var(--menu-puzzle-block-background);
            padding: 0;
        }
    }
}

