// =============================================================================
// DVT COLOURS
// =============================================================================
$blue: #391f4f;
$yellow: #81f281;
$white: #fff;

// =============================================================================
// STATIC COLOURS
// =============================================================================

$background: #fff;

// =============================================================================
// BACKGROUND COLOURS
// =============================================================================
$background-light: #FFF;
$background-dark: #000;



$colors: (
    --dvt-blue: ($blue, $blue),
    --dvt-yellow: ($yellow, $yellow),
    --dvt-white: ($white, $white),
    --background-color: ($background-light, $background-dark),
)
