// =============================================================================
// DVT COLOURS
// =============================================================================
$dvt-blue: #007fba;
$dvt-white: #ffffff;
$dvt-yellow: #ffc72c;

$white: #fff;
$black: #000;

// =============================================================================
// FONT COLOURS
// =============================================================================
$p-font-light: #bdc0c4; // a9a9a9
$p-font-dark: #eee;

// =============================================================================
// PNEUMORPHISM COLOURS
// =============================================================================
$p-morph-light: #dee2e6;
$p-morph-light-background: #eee;
$p-morph-light-shadow-light: #eee;
$p-morph-light-shadow-dark: #bdc0c4;
$p-morph-light-button-border: #eee;
$p-morph-light-font-colour: $p-font-light;

$p-morph-dark: #8C8D96;
$p-morph-dark-background: #bdc0c4;
$p-morph-dark-shadow-light: #bdc0c4;
$p-morph-dark-shadow-dark: #525461;
$p-morph-dark-button-border: #bdc0c4;
$p-morph-dark-font-colour: $p-font-dark;

$color-pn-4: #181B2C;
$color-pn-3: #525461;
$color-pn-2: #8C8D96;
$color-pn-1: #FFFFFF;

// =============================================================================
// STATIC COLOURS
// =============================================================================


// =============================================================================
// Menu COLOURS
// =============================================================================


// =============================================================================
// BACKGROUND COLOURS
// =============================================================================



// =============================================================================
// USAGE COLOURS
// =============================================================================

// Colours are in order (dvt-light, dvt-dark, new)
$colors: (
    // DVT =====================================================================
    --dvt-blue: ($dvt-blue, $dvt-blue),
    --dvt-yellow: ($dvt-yellow, $dvt-yellow),
    --dvt-white: ($dvt-white, $dvt-white),

    // Neumorphism ==================================================================
    --p-morph: ($p-morph-light, $p-morph-dark),
    --p-morph-background: ($p-morph-light-background, $p-morph-dark-background),
    --p-morph-shadow-light: ($p-morph-light-shadow-light, $p-morph-dark-shadow-light),
    --p-morph-shadow-dark: ($p-morph-light-shadow-dark, $p-morph-dark-shadow-dark),
    --p-morph-button-border: ($p-morph-light-button-border, $p-morph-dark-button-border),
    --p-morph-font-colour: ($p-morph-light-font-colour, $p-morph-dark-font-colour)
)
