
#menu-screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);

    .menu {
        display: flex;
        flex-wrap: wrap;
        min-width: 750px;
        max-width: 750px;
        font-size: 1rem;

        .block {
            min-width: 21px;
            max-width: 21px;
            min-height: 21px;
            max-height: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--menu-block);
        }

    }

}

@media only screen and (max-width: 800px) {
    #menu-screen-container .menu {
        min-width: 540px;
        max-width: 540px;
        font-size: 0.7rem;

        .block {
            min-width: 14px;
            max-width: 14px;
            min-height: 14px;
            max-height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--menu-block);
        }

    }

}

@media only screen and (max-width: 600px) {
    #menu-screen-container .menu {
        min-width: 300px;
        max-width: 300px;
        font-size: 0.5rem;

        .block {
            min-width: 6px;
            max-width: 6px;
            min-height: 6px;
            max-height: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--menu-block);
        }

    }

}
