
div {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);

    .menu {
        width: 20vw;
        height: 20vh;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        button {
            width: 100%;
        }
    }

    img {
        width: 80vw;
        margin-bottom: 80px;
    }

}
