
.menu-text {
    background-color: var(--menu-background);
    color: var(--menu-text);

    &:hover {
        transition: color 0s, background 0s;
        background-color: var(--menu-background-hover);
        color: var(--menu-text-hover);
    }

    a {
        text-decoration: none;
        color: var(--menu-text);
        &:hover {
            transition: color 0s;
            color: var(--menu-text-hover);
        }
    }
    
}

.menu-zero { background-color: var(--menu-zero); }
.menu-one { background-color: var(--menu-one); }
.menu-two { background-color: var(--menu-two); }
.menu-three { background-color: var(--menu-three); }
.menu-four { background-color: var(--menu-four); }
.menu-five { background-color: var(--menu-five); }
.menu-six { background-color: var(--menu-six); }
.menu-seven { background-color: var(--menu-seven); }
.menu-eight { background-color: var(--menu-eight); }
.menu-nine { background-color: var(--menu-nine); }